Time-based validators treat an absent claim as 1 January 1970

The validation functions [`jwt. IssuedAtValidator`](https://godoc.org/github.com/gbrlsnchs/jwt#IssuedAtValidator), [`jwt.ExpirationTimeValidator`](https://godoc.org/github.com/gbrlsnchs/jwt#ExpirationTimeValidator), and [`jwt.NotBeforeValidator`](https://godoc.org/github.com/gbrlsnchs/jwt#NotBeforeValidator) evaluate the "iat," "exp," and "nbf" claims against a given time, respectively. All three of them use the corresponding claim value as [the number of seconds since the Unix epoch](https://golang.org/pkg/time/#Unix). However, if any of the claims aren't set, the claim value will be zero, which may or may not mean that the intended time was the start of the Unix epoch.

Ideally we'd be able to distinguish between the field being set or not, perhaps by [storing the `int64` value as a pointer](https://godoc.org/github.com/gbrlsnchs/jwt#Claims). If the claim value is nil, it's not set; if it's present and zero, it _is_ set to the start of the Unix epoch.

Now, you could argue that 1 January 1970 is far enough in the past that we don't need to worry about it being close to any times we'll find in tokens today, but `jwt.ExpirationTimeValidator` checks whether the given time is _after_ the claim value. For tokens that don't expire, they'll all appear as though they've already expired today.

Potential solutions:
- Accept a second parameter for these validator constructors that specifies how to interpret a zero claim value (as the start of the Unix epoch, or as the claim being absent).
- Revise the `jwt.Claims` type to [store these fields as pointers](https://play.golang.org/p/d_Wb3boqJe2).

I favor the second solution, if you can accept the change in the package interface.

Note that per RFC 7519 [§4.1.4](https://tools.ietf.org/html/rfc7519#section-4.1.4), [§4.1.5](https://tools.ietf.org/html/rfc7519#section-4.1.5), and [§4.1.6](https://tools.ietf.org/html/rfc7519#section-4.1.6), all three of the "exp," "nbf," and "iat" claims are optional:
> Use of this claim is OPTIONAL.

Storing them as an `int64` doesn't allow proper indication of whether they're intentionally specified or not.

I think accepting a boolean variable `validateZero` as a second parameter should do. I think it's risky to not check the zero value, since this gives a client the power to skip the expiration validation by exploiting those claims. By accepting a second parameter, at least it is possible to decide whether to validate zeroed `exp`/`iat`/`nbf` with application logic.
> Revise the `jwt.Claims` type to store these fields as pointers.

I'd rather not mess with pointers in order to preserve simplicity, mainly when dealing with built-in basic types.

I think this issue doesn't apply to `iat` nor `nbf`, since they'll always succeed when they're zeroed.

That assumes that the current computer thinks it's running after 1 January 1970.

An approach that I used with my own claims type is to use `time.Time` for these. The zero value for `time.Time` is way out of reasonable range, so you can treat its zero value as "not specified." It just requires writing the `MarshalJSON` and `UnmarshalJSON` methods for the containing claims type.

Is it too late to change the types of the time-related header fields to `time.Time`?

> Is it too late to change the types of the time-related header fields to `time.Time`?

This one is a bit complicated... you're right by saying that zeroed integer `exp`, `iss` and `iat` are not the same as zeroed time (`time.Unix(0, 0).IsZero()` returns `false`).

However, [the RFC](https://tools.ietf.org/html/rfc7519#section-2) says that those fields should refer to a date after the Unix epoch.

So it's really OK to parse those claims to a non-zero `time.Time`. If they equal Unix epoch, it's up to application logic to choose to validate them or not.

The reason I don't use `time.Time` is because it can't be omitted via JSON tags (yet). However, as explained, the limit for those claims is the Unix epoch anyway.

I'll close this issue for now as I think it presents an application issue rather than a library one. If someone thinks this is a very important issue to be solved, I guess it's better to open a new, more detailed issue.